#hamburger{
    display: block;
    height:20px;
    img{
        height: 100%; 
        width: auto;
    }
}

nav{
    animation-name: animatie-meniu;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform-origin: 0% 0%;
}

#ch-menu:checked~ul,meniu{
    display: block;
}

.fa-house{
    display: block;
    position: relative;
    left: 50%;

}

ul.meniu{
    display: none;
    animation-name: animatie-meniu;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform-origin: 0% 0%;

    li{
        position:relative;
        width:100% !important;
        display: block;
        position: relative;
        border: var(--latime-bord-meniu-selectat) solid white;
        border-radius: 1.5rem;
        animation: none;
        transition:none;
    }
    ul{
            position:relative;
            display: block !important;
            visibility: visible !important;
            top: 100% !important;
            position:absolute;
            border: var(--latime-bord-meniu-selectat) solid white;
            border-radius: 1.5rem;
            width:100% !important;
           
        }

        &:hover{
            ul{
                animation: none;
                opacity: 1;
                transform: scale(1, 1); 
            }
        }
        

     >li:hover::before {
        display: none;
    }
}

@keyframes animatie-meniu {
    0%{
        transform: scale(0,0);
        clip-path: circle(20%);
}
    100%{
        transform: scale(1,1);
        clip-path: circle(100%);
}
}