#video {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
#hello{
    /* margin-top: 2%;
    margin-left: 30% !important; */
    /* display:grid;
    grid-template-columns:  1fr; */
   display: inline;
}

#hello-img{
    width: 50px;
    height: auto;
}

#hello-p{
    font-size: 1.2rem;
    margin-top: 2%;
    margin-left: 2%;
}


#video video{
    width: 50%;
    height: auto;
}

::cue {
    background: white;
    opacity: 0.3;
    font-style: italic;
    color: #023328
}



