#video {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

#video video{
    width: 50%;
    height: auto;
}

::cue {
    background: white;
    opacity: 0.3;
    font-style: italic;
    color: #023328
}

#grid{
    margin-top: 2%;
    /* display:grid;
    grid-template-columns:  1fr; */
   display: inline;
}

#grid-img{
    width: 50px;
    height: auto;

}

#userOnline{
    margin-top: 2%;
}

p{
    font-size: 1.3rem;
}

