.afisaj{
    height: 100%;
    margin-top: 2%;
    margin-left: 3%;
}

#mesaj {
    font-size: 1.4em;
}

.formular{
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
}

.formular label{
    width: 100%;
    height: auto;
}
