.titlu_icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3%;
}

a {
    text-decoration: none;
    background: linear-gradient(to right, #52ab98, #155c4d); 
    background-clip: text; 
    -webkit-background-clip: text; 
    color: transparent; 
 }
a:hover{
    text-decoration: none;
    background: linear-gradient(to right, #52ab98, #155c4d); 
    background-clip: text; 
    -webkit-background-clip: text; 
    color: transparent; 
 }

#user-button{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 3%;
    font-size: 1.5em;
}

.icon{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between !important; */
    align-items: center;
    margin-right: 30%;
}

.icon i{
    margin-right: 30%;
    text-decoration: none;
    background: linear-gradient(to right, #52ab98, #155c4d); 
    background-clip: text; 
    -webkit-background-clip: text; 
    color: transparent; 
}
#cos{
    list-style-type: none; 
}

#favorite{
    list-style-type: none; 
    margin-right: 30%;
}

#user{
    list-style-type: none;  
    margin-right: 30%;
}

#button{
    margin-left: 30%;
}

