@media only screen and (max-width: 800px)  {
    #button{
        margin-left: 80% !important;
    }

    .fa-heart{
        margin-left: 70% !important;
    }
    .fa-user{
        margin-left: 65% !important;
    }
}




#user-button {
    display: flex;
    width: 100%;
    height: 20%;

}
#button{
    display: block;
    position: absolute;
    /* margin-right: 1%; */
    margin-left: 90%;
    margin-top: 0.5%;
    font-size: 150%;
}



.fa-user {
    display: block;
    position: absolute;
    /* margin-right: 1%; */
    margin-left: 80%;
    margin-top: 1%;
    font-size: 150%;
}

.fa-heart {
    display: block;
    position: absolute;
    /* margin-right: 2%; */
    margin-left: 82%;
    margin-top: 1%;
    font-size: 150%;
}

.fa-heart:hover {
    color: red;
    animation-name: animatie-heart;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform-origin: 0% 0%;
}


@keyframes animatie-heart {
    0% {
        transform: rotate(0);

    }

    100% {
        transform: rotate(360deg);
    }
}