@media only screen and (max-width: 800px) {
    #button {
        margin-left: 90% !important;
    }

    .fa-heart {
        margin-left: 85% !important;
    }

    #user {
        left: 35% !important;
    }
}

#titlu{
    margin-left: 1%;
}

#user-button {
    display: flex;
    width: 100%;
    height: 20%;

}

#user {
    display: flex;
    justify-content: right;
    position: relative;
    left: 60%;
}

#button {
    display: block;
    position: absolute;
    /* margin-right: 1%; */
    margin-left: 90%;
    margin-top: 0.5%;
    font-size: 150%;
}


.fa-regular {
    font-size: 20px;
    margin-right: 10px;
}

.fa-user{
    position: relative;
    top: 25%
}


#loggare {
    list-style-type: none;
}

.fa-user {
    display: block;
    height: 100%;
    position: relative;
    left: 40%;
    top: 35%;
    font-size: 150%;
    color: black;
    padding: 0;
}


/* logat */

#profil{
    color: white;
}

.bi-door-open{
    display: block;
    visibility: visible;
}

.fa-heart {
    display: block;
    position: absolute;
    /* margin-right: 2%; */
    margin-left: 82%;
    margin-top: 1%;
    font-size: 150%;
}

.fa-heart:hover {
    color: red;
    animation-name: animatie-heart;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform-origin: 0% 0%;
}


@keyframes animatie-heart {
    0% {
        transform: rotate(0);

    }

    100% {
        transform: rotate(360deg);
    }
}