#chat{
    margin-top: 3%;
    margin-left: 1%;
}

#mesaje_chat{
    border:1px solid #52ab98;
    border-radius: 2rem;
    height:200px;
    overflow:auto;
    width:95vw;
}

#chat_l{
    width: 96vw;
    font-size: 1.2em;
}

#buton {
    margin-top: 20px;
    margin-bottom: 20px;
}

#titlu{
    margin-left: 2%; 
}