#chatbox {
    width: 400px;
    height: 350px;
    border: 1.5px solid #FFAD03;
    background-color:#f4b028 ;
    border-radius:1em;
    overflow-y: scroll;
    color:white;
    text-align:right;
    padding: 30px;
    font-size: 1em;
}

.chat{
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
    margin-bottom: 1%;
    flex-direction: column;
    align-items: flex-end;
    width: auto;
}
#inp_but{
    display :flex;
    flex-direction: row;
}



