body{
    --culoare-background: #FFAD03;
}

#main{
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
}

#imag{
    background-image: url("/resurse/imagini/urmaresteColet/trackpackage.png");
    background-repeat: no-repeat;
    /*margin-top:10%; */
    background-attachment: fixed;
    /* width: max-content;
    height: max-content; */
    background-position: right top;
    /* animation-name: animatie_background;
    animation-duration: 15s;
    animation-iteration-count: infinite; */
}

@keyframes animatie_background {
    0%, 100% {
        background-image: url('../../../imagini/urmaresteColet/trackpackage.png');
    }
    25%{
        background-image: url('../../../imagini/urmaresteColet/imag1.png')
    }
    50% {
        background-image: url('../../../imagini/urmaresteColet/box1.png');
    }
}

#tabel caption{
    caption-side: bottom;
    text-align: center;
    color: var(--culoare-background)
}

#table{
    display: block;
}
#tabel thead{
    text-align: center;
}

#tabel td, th{
    border: 1px solid #c8d8e4;
    width: 200px;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: var(--culoare-background);
}