<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Azure bot</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">

    <!-- <link rel="stylesheet" type="text/css" href="/resurse/css/pagini/logout/logout.css" /> -->
    <link rel="stylesheet" type="text/css" href="/resurse/css/pagini/azurebot/azurebot2.css" />

    <script type="text/javascript" src="/resurse/js/azurebot.js"></script>
    <%- include("../fragmente/head") %>
</head>

<body class="dark">
    <%- include("../fragmente/header") %>
        <main id="main">
            <p>Azure bot
            <p>
            <!-- <div class="chat">
                <div id="chat-container" style="display: none;">
                    <div id="chatbox"></div>
                    <input type="text" id="message" placeholder="Type your message">
                    <button onclick="sendMessage()">Send</button>
                </div>
                <button id="chat-toggle-btn" class="btn btn-primary" onclick="toggleChat()">Cu ce te putem
                    ajuta?</button>
            </div> -->
            <div id="bit">
                <iframe src='https://webchat.botframework.com/embed/pccomponentsbot?s=eWJz1wTSa4Q.NpVP-5KsJI1pXVT5LVDbliyGsWJOxMNYYgTaNuJ1HKM'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
            </div>
        </main>
        <%- include('../fragmente/footer') %>

</body>

</html>