<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Chat</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">


    <link rel="stylesheet" href="/resurse/css/pagini/chat/chat.css" type="text/css" />

    <script type="text/javascript" src="/node_modules/socket.io/client-dist/socket.io.js"></script>
    <!-- <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script> -->

    <script> port= <%= locals.port %> </script>
    <script type="text/javascript" src="/resurse/js/chat.js"></script>
    <%- include("../fragmente/head") %>
</head>

<body class="dark">
    <%- include("../fragmente/header") %>
        <main>
            <div id="chat">
                <h1 id="titlu">Cu ce te putem ajuta?</h1>
                <div id="mesaje_chat">
                    <!-- <textarea class="form-control form-control-lg" id="mesaj_chat"></textarea> -->
                </div>
                <label id ="chat_l">
                    Nume: <input class="form-control form-control-lg" type="text" id="nume" name="nume" value="">
                </label><br />
                <label id ="chat_l" for="floatingTextarea">
                    Mesaj: 
                    <textarea class="form-control form-control-lg" id="mesaj"  placeholder="Lasa un mesaj aici" name="mesaj" value=""
                        rows="3"></textarea>
                </label><br />
                <label id ="chat_l">
                    Culoare: <select class="form-select" id="culoare" name="culoare">
                        <option value="black">black</option>
                        <option value="green">green</option>
                        <option value="blue">blue</option>
                    </select>
                </label><br>
                <label id ="chat_l">
                    Backgound: <select class="form-select" id="b_culoare" name="culoare">
                        <option value="white">white</option>
                        <option value="yellow">yellow</option>
                        <option value="pink">pink</option>
                    </select>
                </label><br />
                <button class="btn btn-outline-primary btn-lg" id="buton" onclick="trimite()">Trimitere</button>
            </div>
        </main>
        <%- include("../fragmente/footer") %>
</body>

</html>