<!DOCTYPE html>
<html lang="ro">

<head>
	<title>Confirmare</title>
	<meta name="keywords" content="confirmare mail PC Components">
	<meta name="description" content="Confirmarea email-ului pentru PC Components">

	 <link rel="stylesheet" href="/resurse/css/pagini/confirmare/confirmare.css" type="text/css" />
	<%- include("../fragmente/head") %>
	

</head>

<body class="dark">
	<%- include("../fragmente/header") %>
	<main>

		<h1>Confirmare mail</h1>
		<p>Totul a functionat bine!</p>
	</main>

	<%- include("../fragmente/footer") %>

</body>

</html>