<!DOCTYPE html>
<html lang="ro">

<head>
	<title>Confirmare</title>
	<meta name="keywords" content="confirmare mail PC Components">
	<meta name="description" content="Confirmarea email-ului pentru PC Components">

	<%- include("../fragmente/head") %>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>

<body class="dark">
	<%- include("../fragmente/header") %>
	<main>

		<h1>Confirmare mail</h1>
		<p>Totul a functionat bine!</p>
	</main>

	<%- include("../fragmente/footer") %>

</body>

</html>