<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Cos</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">

    <%- include("../fragmente/head") %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/resurse/css/pagini/cos-virtual/cos-virtual.css" type="text/css" />
    <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
</head>

<body class="dark">

    <%- include("../fragmente/header") %>

        <main>
            <h2 id="titlu">Cosul de cumparaturi</h2><br>

            <button class="btn btn-info btn-lg" id="cumpara">
                Cumpara
            </button>

        </main>

        <%- include("../fragmente/footer") %>
</body>

</html>