<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Informatii magazin</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">


    <%- include("../fragmente/head") %>
        <link href="/resurse/css/pagini/produse/produs.css" type="text/css" rel="stylesheet" />
        <link href="/resurse/css/pagini/desigilate/video.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <main>
        <div class="viewport-header">
            <%- include("../fragmente/header") %>
        </div>
        <div id="vide-_back">
            <video playsinline autoplay muted loop poster="../../resurse/video/video_background/poster.jpg" id="bgvid">
                <source src="../../resurse/video/video_background/video1.webm" type="video/webm">
                <source src="../../resurse/video/video_background/video1.mp4" type="video/mp4">
            </video>
        </div>
        <div class="viewport-produse">
        </div>

    </main>
    <div class="viewport-footer">
        <%- include("../fragmente/footer") %>
    </div>
</body>

</html>