<!DOCTYPE html>
<html lang="ro">

<head>
    <title>LogOut</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">
    <title>PC Components- înregistrare </title>
    
    <link rel="stylesheet" type="text/css" href="/resurse/css/pagini/logout/logout.css" />
    <%- include("../fragmente/head") %>
</head>

<body class="dark">
    <%- include("../fragmente/header") %>

        <main>
            <p>Ai fost delogat!<p>
        </main>

        <%- include('../fragmente/footer') %>

</body>

</html>