<!DOCTYPE html>
<html lang="ro">

<head>
    <title>LogOut</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">
    <title>PC Components- înregistrare </title>
    <%- include("../fragmente/head") %>
</head>

<body class="dark">
    <%- include("../fragmente/header") %>

        <main>
            Ai fost delogat!
        </main>

        <footer>
            <%- include('../fragmente/footer') %>
        </footer>

</body>

</html>