<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Informatii magazin</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">


    <%- include("../fragmente/head") %>
    <link href="/resurse/css/pagini/produse/produs.css" type="text/css" rel="stylesheet" />
</head>

<body class="dark">
    <main>
        <%- include("../fragmente/header") %>
        
    </main>

    <%- include("../fragmente/footer") %>
</body>

</html>