<!DOCTYPE html>
<html lang="ro">

<head>
    <title>PC components</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">

    <link rel="stylesheet" href="resurse/css/pagini/urmaresteColet/style.css" type="text/css">
    <%- include("../fragmente/head.ejs") %>
</head>

<body class="dark">
    <main>
        <%- include("../fragmente/header.ejs") %>
            <div id="main">
                <div id="imag">
                    <!-- <figure style="width: 65%">
                <picture>
                    <source srcset="resurse/imagini/urmaresteColet/trackpackage_tel.png" media="(max-width: 450px)">
                    <source srcset="resurse/imagini/urmaresteColet/trackpackage_tableta.png" media="(max-width: 800px)">
                    <img src="resurse/imagini/urmaresteColet/trackpackage.png" alt="promo" style="width:100%">
                </picture>
            </figure> -->
                </div>
                <div id="tabel">
                    <table id="tabel">
                        <caption>Drumul pe care il face produsul pana la tine acasa</caption>
                        <thead>
                            <tr>
                                <th>Nr comanda</th>
                                <th>Pregatire</th>
                                <th>Ambalare</th>
                                <th>Plecare din depozit</th>
                                <th>Destinatia finala</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                            </tr>
                            <tr>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                            </tr>
                        </tbody>
                        <!-- <tfoot>
                        <tr>
                            <th colspan="4">Orase in care vom deschide</th>
                        </tr>
                        <td>Bihor</td>
                        <td>Oradea</td>
                        <td>Crisul Alb 20</td>
                        <td>9-20</td>
                        </tr>
                        <tr>
                            <td>Iasi</td>
                            <td>Iasi</td>
                            <td>Mioarelor 66</td>
                            <td>9-20</td>
                        </tr>
                    </tfoot> -->
                    </table>
                </div>
            </div>
    </main>
    <div id="footer">
        <%- include("../fragmente/footer.ejs") %>
    </div>
</body>