<footer>
    <address>
        Numarul nostru de telefon: <a href="tel:+40712345678">+40712345678</a><br>
        Mail:<a href="mailto:pc.componets@gmail.com"> PC Components</a><br>
        Adresa noastra este: <a href="https://goo.gl/maps/Hx49BsqPpTnER8qo9" target="_blank">Strada
            Academiei</a><br>
        What's APP: <a href="https://api.whatsapp.com/send?phone=0712345678" target="_blank">Send
            Message</a><br>
    </address>
    <div id="link-top">
        <div id="container">
            <a id = "footer-arr" href="#">
                <div id="arrow">
                    &#129081
                </div>
            </a>
        </div>
        <span id="tooltip">Link Top</span>
    </div>
    <p id="copyright">
        <small>
            Copyright © <time datetime="2022-10-13 10:00">octombrie 2022</time> - prezent Muscalu
            Florinela-Gabriela
        </small>
    </p>
</footer>