<footer class="dark">
    <%if (locals.utilizator){%>
        <div class="chat">
            <div id="chat-container" style="display: none;">
                <div id="chatbox"></div>
                <input type="text" id="message" placeholder="Type your message">
                <button onclick="sendMessage()">Send</button>
            </div>
            <button id="chat-toggle-btn" class="btn btn-primary" onclick="toggleChat()">Cu ce te putem
                ajuta?</button>
        </div>
    <%}%>
    <span id="cookis">
        <p id="banner"> Acesta este un proiect școlar! <span id="mesaj_cookie"></span> Acceptati cookie-urile de pe
            site? <button id="ok_cookies">Ok</button>
        </p>
    </span> 



    <address>
        <span> Numarul nostru de telefon: <a href="tel:+40712345678">+40712345678</a> </span>
        <span> Mail:<a href="mailto:pc.componets@gmail.com"> PC Components</a> </span>
        <span> Adresa noastra este: <a href="https://goo.gl/maps/Hx49BsqPpTnER8qo9" target="_blank">Strada
            Academiei</a> </span>
        <span> What's APP: <a href="https://api.whatsapp.com/send?phone=0712345678" target="_blank">Send
            Message</a> </span>
    </address>

    
    <div id="link-top">
        <div id="container">
            <a id="footer-arr" href="#">
                <div id="arrow">
                    &#129081
                </div>
            </a>
        </div>
        <span id="tooltip">Link Top</span>
    </div>
    <p id="copyright">
        <small id="copyright">
            Copyright © <time datetime="2022-10-13 10:00">octombrie 2022</time> - prezent Muscalu
            Florinela-Gabriela
        </small>
    </p>
</footer>