<form id="form_inreg"  method="post" class="date"  action="<%= locals.action %>"  enctype="multipart/form-data">
    <p>
        <label class="form-label">
            Username: <input class="form-control" type="text" name="username" id="inp-username" required value="prof<%= Math.floor(Math.random()*100000) %>" required pattern="[A-Za-z0-9]{5-7}" placeholder="Acest camp trebuie sa contina si cifre">
        </label>
    </p>
    <p>
        <label class="form-label">
            Nume: <input class="form-control" type="text" name="nume" id="inp-nume" required value="Gogulescu" required pattern="[A-Z][a-z]+" >
        </label>
    </p>
    <p>
        <label class="form-label">
            Prenume: <input class="form-control" type="text" name="prenume" id="inp-prenume" required value="Gogu-Ionel" required pattern="[A-Z][a-z]+-[A-Z][a-z]+" >
        </label>
    </p>
    <p>
        <label class="form-label">
            Data nastere: <input  class="form-control" type="date" name="data_nastere" id="inp-dataN" required value="">
        </label>
    </p>
    <p>
        <label class="form-label">
            Ocupatie: <input class="form-control" type="text" name="ocupatie" id="inp-ocupatie" value=""  required pattern="[a-z]+">
        </label>
    </p>
    <p id="confPar">
        <label class="form-label">
            Parola noua: <input  class="form-control" id="cparl" type="password"  name="cparola" value="" placeholder="Acest camp trebuie sa contina si cifre">
        </label>
    </p>
    <p>
        <label class="form-label">
            Parola: <input class="form-control" id="parl" type="password" required name="parola" value="" required pattern="[A-Z]+[a-z]+[0-9]+{6,}">
        </label>
    </p>
    <p id="p-reintrod">
        <label class="form-label">
            Reintroduceti parola: <input class="form-control" id="rparl" required type="password" name="rparola" value="">
        </label>
    </p>
    <p>
        <label class="form-label">
            Email: <input class="form-control" type="text" name="email" id="inp-email" required value="tehniciweb43@gmail.com"  size="50">
        </label>
    </p>
    <p>
        <label class="form-label">
            Culoare text chat: <select class="form-control form-control-color" name="culoare_chat" id="sel-culoare"><option value="red" selected>rosu</option><option value="green">verde</option><option value="blue">albastru</option></select>
        </label>
    </p>
    <p>
        <label class="form-label">
            Poza: <input type="file" name="poza" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        </label>			
    </p>
    <p>		
        <input type="submit" value="Trimite" class="btn btn-outline-secondary">
        <input type="reset" value="Reseteaza" class="btn btn-outline-secondary">
    </p>
</form>