<form id="form_reset"  method="post" class="date"  action="<%= locals.action %>"  enctype="multipart/form-data">
    <p>
        <label class="form-label">
            Username: <input class="form-control" type="text" name="username" id="inp-username" required value="" required pattern="[A-Za-z0-9]{5-7}">
        </label>
    </p>
    <p>
        <label class="form-label">
            Parola noua: <input class="form-control" id="parl" type="password" required name="parola" value="" required pattern="[A-Z]+[a-z]+[0-9]+{6,}">
        </label>
    </p>
    <p>		
        <input type="submit" value="Resetare" class="btn btn-outline-secondary">
        
    </p>
</form>