<form id="form_prod" method="post" class="date" action="<%= locals.action %>" enctype="multipart/form-data">
    <p>
        <label class="form-label">
            Nume: <input class="form-control" type="text" name="nume" id="inp-numep" required value="">
        </label>
    </p>
    <p>
        <label class="form-label">
            Descriere: <input class="form-control" type="text" name="descriere" id="inp-desc" required value="">
        </label>
    </p>
    <p>
        <label class="form-label">
            Pret: <input class="form-control" type="number" name="pret" id="inp-pret" required value="">
        </label>
    </p>
    <p>Scrieti greutatea in grame</p>
    <p>
        <label class="form-label">
            Greutate: <input class="form-control" type="number" name="greutate" id="inp-greutate" required value="">
    </p>
    <p>
        <label class="form-label">
            Data fabricare: <input class="form-control" type="date" name="data_fabricare" id="inp-dataF" required value="">
        </label>
    </p>
    <p>
        <label class="form-label">
            Tip produs: <select class="form-select form-select-lg mb-3" name="tip_produs" id="tip-prod">
                <option value="gaming" selected>gaming</option>
                <option value="office">office</option>
                <option value="home">home</option>
            </select>
        </label>
    </p>
     
    <p>
        <label class="form-label">
            Categorie: <select class="form-select form-select-lg mb-3" name="categorie" id="cat-prod">
                <option value="periferice">periferice</option>
                <option value="PC">PC</option>
                <option value="laptop">laptop</option>
                <option value="1-componente-1-monitoare">monitoare</option>
                <option value="2-componente-1-RAM">memorie RAM</option>
                <option value="2-componente-2-SSD">memorie SSD</option>
                <option value="2-componente-3-HDD">memorie HDD</option>
                <option value="3-componente-1-placa-video">placa video</option>
                <option value="3-componente-2-placa-baza">placa de baza</option>
                <option value="4-componente-1-procesor">procesor</option>

            </select>
        </label>
    </p>
    <p>Scrieti specificatile cu virgula intre ele</p>
    <p>
        <label class="form-label">
            Specificatii: <input class="form-control" type="text" name="specificatii" id="inp-specificatii" required value="">
    </p>
    <p>
        <label class="form-label">
            Desigilate: <select class="form-select form-select-lg mb-3r" name="desigilate" id="inp-des">
                <option value = True >Da</option>
                <option value = False selected>Nu</option>
            </select>
        </label>
    </p>
    <p>
        <label class="form-label">
            Culoare: <input class="form-control" type="text" name="culoare" id="inp-culoare" required value="">
    </p>
    <p>
        <label class="form-label">
            Data adugare: <input class="form-control" type="date" name="data_add" id="inp-dataA" required value="<%= (new Date()).toISOString().substr(0, 10) %>">
        </label>
    </p>
    <p>
        <label class="form-label">
            Garantie: <input class="form-control" type="number" name="garantie" id="inp-garantie" max= "5" min ="0" required value="">
        </label>
    </p>
    <p>
        <label class="form-label">
            Stoc: <input class="form-control" type="number" name="stoc" id="inp-stoc" min ="0" required value="">
        </label>
    </p>
        <label class="form-label">
            Imagine: <input type="file" name="imagine" class="form-control" id="inputGroupFile04"
                aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        </label>
    </p>
    <p>
        <input type="submit" value="Adauga" class="btn btn-outline-secondary">
        <input type="reset" value="Sterge" class="btn btn-outline-secondary">
    </p>
</form>