<header id="header">
    <div id="user-button">
        <h1 id="titlu">PC components</h1>
        <button id="tema"> Schimba tema </button>
        <script>
            tema_curenta = localStorage.getItem("tema");
            if (tema_curenta) {
                document.body.classList.add(tema_curenta);
            }
            document.getElementById("tema").onclick = function () {
                if (document.body.classList.contains("dark")) {
                    document.body.classList.remove("dark");
                    localStorage.removeItem("tema");
                } else {
                    document.body.classList.add("dark")
                    localStorage.setItem("tema", "dark")
                }
            }
        </script>
        <i class="fa-regular fa-user"></i>
        <i class="fa-regular fa-heart"></i>
    </div>
    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li id="fa"><a href="index">
                    <div id="home">
                        <i class="fa-solid fa-house"></i>
                    </div>
                </a>
            </li>
            <li id="li-home"> <a href="index" id="but-home">Home</a></li>
            <li> <a href="pc&periferice">PC & Periferice</a>
                <ul>
                    <li><a href="pc&periferice#monitoare">Monitoare</a></li>
                    <li><a href="pc&periferice#memorie">Memorie</a>
                        <ul>
                            <li><a href="pc&periferice#memeorie#memorieRAM">Memorie RAM</a></li>
                            <li><a href="pc&periferice#memorie#memorieSSD">Memorie SSD</a></li>
                            <li><a href="pc&periferice#memorie#memorieHDD">Memorie HDD</a></li>
                        </ul>
                    </li>
                    <li><a href="#procesoare">Procesoare</a></li>
                </ul>
            </li>
            <li> <a href="info">Info</a>
                <ul>
                    <li><a href="info#despre">Despre Noi</a></li>
                    <li><a href="info#contact">Contact</a></li>
                    <li><a href="info#Shops">Sedii magazine</a></li>
                    <li><a href="info#garantie">Garantia Securitatii</a></li>
                    <li><a href="info#gdpr">GDPR</a></li>
                    <li><a href="info#CalcularePret">Calcul pret redus</a></li>
                    <li><a href="info#galerie">Galerie</a></li>
                </ul>
            </li>
            <li> <a href="/produse">Promotii</a></li>
            <li> <a href="desigilate">Desigilate</a></li>
            <li> <a href="urmaresteColet">Urmareste Colet</a></li>
        </ul>
    </nav>
</header>