
#mesaj{
    margin-top: 3%;
    display: flex;
    align-items: left;
    justify-content: center;
}

#mesaj p{
    color: red;
    font-size: 1.4em;
}

#loggare{
    display: flex;
    align-items: left;
    justify-content: center;
    height: 100%;
    margin-top: 2%;
}

#inreg{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: none;
    text-align: center;
}


