main {
    margin-top: 2%;
    margin-left: 1%;
}

#img_profil{
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
}
#profil{
    margin-left: 3%;
}

#user{
    margin-top: 2%;
    margin-left:30%;
    margin-right: 30%;
}

#user label{
    width:100%
}

#user p{
    font-size: 1.2em;
}
