#err-coloane{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}

#err-coloane p{
    text-align: center;
    font-size: 40px;
}

#footer{
    display: flex;
    width: auto;
    height: auto;
    margin-top: 10%;
}