/* body{
    --culoare-buton: #52ab98;
}

#filtrare, #sortCrescNume, #sortDescrescNume, #resetare{
    color: var(--culoare-buton);
} */
i{
    display: none;
}

@media screen and (max-width: 450px){
 i{
    display: block;
    color: black;
    /* position: ablsolute;
    top: 30%; */

 }  
 #filtrare span, #resetare span, #sortCrescNume span, #sortDescrescNume span, #maxim span, #minim span{
    /* text-indent: -9999rem; */
    /* color: transparent; */
    display: none;
    /* background-color: transparent; */
 }

}


#sortCrescNume, #sortDescrescNume,#maxim, #minim, #filtrare, #resetare{
    width: 90%;
}