main{
    margin-top: 3%;
    --padd-main:1rem;
    padding-left:var(--padd-main);
    padding-right:var(--padd-main);
    --culoare-produs: #d8cfbb;
}

@media only screen and (max-width: 800px)  and (min-width: 450px){
    main{
        margin-top: 6%;
    }
}

@media only screen and (max-width: 450px) and (min-width: 0px) {
    main{
        margin-top: 8%;
    }
}

.grid-produse{
    display:grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-gap:1rem;
}
.grid-produse .produs{
    border-radius: 2rem;
    box-shadow: 0px 0px 0.8rem 0.3rem #c8d8e4;
    overflow: hidden;
}

.grid-produse .produs h3{
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid-produse .produs h3 a{
    color:black;
}

.grid-produse .produs figure{
    text-align: center;
}

.grid-produse .produs p.categorie{

    text-align:start;
    font-weight:bold;
    margin-left: 2%;
}

.info-prod{
    margin-left: 2%;
}

.descriereImg{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}

.descriereImg .descriere{
    font-weight:bold;
    width: 100%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
}
.descriereImg .img{
    display: flex;
    justify-content: right;
}

.produs{
    position: relative;
}
.selecteaza-cos{
    display: inline-block;
    position:absolute;
    bottom:0.5rem;
    right:0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    padding:0.3rem;
    border:1px solid transparent;
}