main{
    margin-top: 2%;
}

h2{
    padding:0.4rem;
}
#art-produs{
    margin:0;
    width:80%;
}
h3{
    margin-left: 5%;
    font-size: 1.5em;
}

.container{
    margin-top: 2%;
}

.imag-produs img{
    width: 90%;
    height: auto;
}

p{
    font-size: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
label{
    font-size: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#favorite_icon_prod{
    
    margin-bottom: 2%;
    font-size: 1.5rem;
    background: linear-gradient(to right, #52ab98, #155c4d); 
    background-clip: text; 
    -webkit-background-clip: text; 
    color: transparent; 
}

#col3{
    margin-top: 5%;
    margin-left: 15%;
    
}

.btn-outline-primary{
    width:120%;
}

